*{
    margin: 0px;
    padding: 0px;

   
    /* color: wheat; */
    /* box-sizing: border-box; */
 

 
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f082d;

}
form{
    height: 70%;
    width: 30%;
   
    background-color:#fff;
    
    display: flex;
    flex-direction: column;
    padding: 10px 5px 8px 5px;

    border-radius:10px;
    display: flex;
    align-items: center;
    box-shadow: 1px 0px 33px rgb(132, 131, 131);

  

}

input{
    margin-top: 20px;
    /* background-color:rgb(182, 219, 234); */
    background-color: rgba(218, 212, 212, 0.89);
    border-radius: 5px;
    height: 9%;
    width: 70%;
    border: 0px solid skyblue;
    padding: 8px;
}

textarea{
    margin-top: 20px;
    /* background-color: rgb(182, 219, 234); */
    background-color: rgba(218, 212, 212, 0.89);
    border: 0px solid skyblue;
    padding: 8px;
    
    border-radius: 5px;
    height: 15%;
    width: 70%;
   
}

#submitbtn{
    
  /* margin-left: 35%; */
  padding: 8px 30px 8px 30px;
   width: fit-content;
    border-radius: 30px;
    background-color:rgb(248, 192, 88);
    
}


